.updates-banner {
    a {
        color: #0098FF;
    }

    .container {
        padding: 0;
        p {
            text-align: center;
            margin: 1.1rem 0;
            padding-right: 4.2rem;
            padding-left: 4.2rem;
        }
    }

    .dismiss-btn {
        border: 2px solid transparent;
        cursor: pointer;
        height: 100%;
        opacity: 0.5;
        outline: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 4.2rem;
    }
}

